<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title th:text="${title}">Profile · DevPortal</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/posts.css}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
    <div class="page-shell">
        <div th:replace="~{fragments/navbar :: menu}"></div>


        <main class="profile-card">
            <section class="profile-header">
                <div>
                    <div class="logo-big">&lt;|&gt;</div>
                    <h1>Welcome, <span th:text="${username}">User</span></h1>
                    <p class="auth-subtitle">You are logged in to your DevPortal space.</p>
                </div>

                <div class="profile-actions">
                    <a class="cta-btn" th:href="@{/posts/new}">Add a post</a>
                    <a class="secondary" th:href="@{/friends/list}">View friends</a>
                </div>
            </section>

            <section class="profile-info">
                <div class="empty-box"
                     th:if="${profile.firstName == null and
                              profile.lastName == null and
                              profile.headline == null and
                              profile.bio == null and
                              profile.programmingLanguages == null and
                              profile.githubLink == null and
                              profile.linkedinLink == null}"
                >
                    <p>Your profile is still empty. Complete it to help other developers know you better.</p>
                </div>

                <div class="info-box"
                    th:if="${(profile.firstName != null and !profile.firstName.isBlank()) or
                             (profile.lastName != null and !profile.lastName.isBlank())}">
                    <span>Name</span>
                    <strong >
                        <span th:text="${profile.firstName}"></span>
                        <span th:text="${profile.lastName}"></span>
                    </strong>
                </div>

                <div class="info-box"
                    th:if="${profile.headline != null and !profile.headline.isBlank()}">
                    <span>Headline</span>
                    <strong th:text="${profile.headline}"></strong>
                </div>

                <div class="info-box full"
                    th:if="${profile.bio != null and !profile.bio.isBlank()}">
                    <span>Bio</span>
                    <p th:text="${profile.bio}"></p>
                </div>

                <div class="info-box full"
                    th:if="${profile.programmingLanguages != null and !profile.programmingLanguages.isBlank()}">
                    <span>Programming languages</span>
                    <p th:text="${profile.programmingLanguages}"></p>
                </div>

                <div class="profile-links"
                    th:if="${(profile.githubLink != null and !profile.githubLink.isBlank()) or
                             (profile.linkedinLink != null and !profile.linkedinLink.isBlank())}">

                    <a class="secondary"
                       th:if="${profile.githubLink != null and !profile.githubLink.isEmpty()}"
                       th:href="${profile.githubLink}"
                       target="_blank">
                        GitHub
                    </a>

                    <a class="secondary"
                       th:if="${profile.linkedinLink != null and !profile.linkedinLink.isEmpty()}"
                       th:href="${profile.linkedinLink}"
                       target="_blank">
                        LinkedIn
                    </a>


                </div>
                <a class="cta-btn" th:href="@{/profile/edit}">Edit profile</a>
            </section>

            <section class="profile-stats">
                <div class="stat-box">
                    <span>Total frinds</span>
                    <strong th:text="${friendCount}">0</strong>
                </div>
            </section>

            <section class="posts-section">
                <div class="section-title">
                    <h2>My posts</h2>
                </div>

                <div th:if="${#lists.isEmpty(posts)}" class="empty-box">
                    <p>You have not published any posts yet.</p>
                </div>

                <div class="posts-feed">
                    <th:block th:each="postItem : ${posts}">
                        <article th:replace="~{fragments/post-card :: card(postItem=${postItem})}"></article>
                    </th:block>
                </div>
            </section>
        </main>

        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>

    <script th:src="@{/js/likes.js}"></script>

    <div id="likesModal" class="likes-modal-overlay hidden">
        <div class="likes-modal">
            <div class="likes-modal-header">
                <h3>Liked by</h3>
                <button type="button" id="closeLikesModal" class="likes-modal-close">×</button>
            </div>

            <div id="likesModalBody" class="likes-modal-body">
            </div>
        </div>
    </div>

    <script th:src="@{/js/liked-users.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            hljs.highlightAll();
        });
    </script>
</body>

</html>

