<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>

<body>

<h2>Create account</h2>

<form method="post" th:action="@{/register}" th:object="${user}">

    <div>
        <label>Username</label>
        <input type="text" th:field="*{username}" required>
    </div>

    <div>
        <label>Password</label>
        <input type="password" th:field="*{password}" required>
    </div>

    <br>

    <button type="submit">Register</button>

</form>

<br>

<a th:href="@{/login}">Already have account? Login</a>

<div th:if="${error}">
    <p style="color:red;">User already exists</p>
</div>

</body>
</html>